body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    margin: 0;
    animation: bg 10s infinite;
}
main {
    width: 700px;
    height: 380px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c28f8f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    backface-visibility: hidden;
    text-align: center;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
input, select{
    text-align: center;
    height: 60px;
    width: 110;
}
.wews{
    text-align: center;
    height: 5px;
    width: 7px;
}
table{
    height: 50px;
}
ul{
    list-style-type: none ;
}
footer{
    background-color: #170303;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
option{
    border-style: outset;
}
button{
    background-color: aliceblue;
    color: black;
    height: 30px;
    width: 70px;
}
button:hover{
    background-color: black;
    color: white;
    height: 30px;
    width: 70px;
}
@keyframes bg{
0%{
    background-color: red;
}
10%{
    background-color: orange;
}
20%{
    background-color: yellow;
}
30%{
    background-color: green;
}
40%{
    background-color: blue;
}
50%{
background-color: indigo;
}
60%{
background-color: violet;
}
70%{
background-color: silver;
}
80%{
background-color: coral;
}
90%{
background-color: orangered;
}
100%{
background-color: crimson;
}
}
